/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
  line-height: 1;
  border-bottom: 1px solid $black;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

a.blog-header-logo:hover {
  text-decoration: none !important;
  background-color: transparent !important;
  color: $lightblack !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
  border-bottom: 1px solid $black;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  $white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

a#navbarDropdown:hover {
  text-decoration: none !important;
  background-color: transparent !important;
  color: $lightblack !important;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/*
 * Blog name and description
 */
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
}
.blog-description {
  font-size: 1.1rem;
  color: $lightblack;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  border: 1px solid $black !important;
}

.blog-post-tag {
  text-align:center;
  margin-top: -50px;
  height: 80px;

  img {
    border: 3px solid $black;
    border-radius: 50%;
    padding: 2px;
    width: 100px;
    height: 100px;
    background-color: $white;
  }
}
.blog-post-tag-sm {
  text-align:center;
  margin-top: -40px;
  height: 60px;

  img {
    border: 2px solid $black;
    border-radius: 50%;
    padding: 2px;
    width: 80px;
    height: 80px;
    background-color: $white;
  }
}

.blog-post-pin {
  position: absolute;
  top: -24px;
  left: -8px;
  color: $black;
}

a.blog-post-pin {
  text-decoration: none !important;
}
a.blog-post-pin:hover {
  color: $lightblack !important;
  text-decoration: none !important;
  background-color: transparent !important;
}

.blog-post-title {
  margin-bottom: .7rem;
  border-bottom: 1px solid $black; // #edeff0;
  text-align: center;
  color: $black;
  line-height: 50px;
}

.blog-post-meta {
  margin-bottom: 1.25rem;
  color: $lightblack;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: $lightblack;
  text-align: center;
  background-color: $lightwhite;
  border-top: .05rem solid $black;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
