body {
  background: #000000 url("/images/stormtroopers/stormtrooper_costume.jpg") no-repeat right top;
}

.login {
  margin-top: 6rem;
}

.user_card {
  height: 400px;
  width: 350px;
  margin-top: auto;
  margin-bottom: auto;
  background: #ffffff;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
}

.brand_logo_container {
  position: absolute;
  height: 170px;
  width: 170px;
  top: -75px;
  border-radius: 50%;
  background: #ffffff;
  padding: 10px;
  text-align: center;
}

.brand_logo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid #000000;
}

.form_container {
  margin-top: 100px;
}

.login_btn {
  width: 100%;
  background: #000000 !important;
  color: #ffffff !important;
}

.login_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

.login_container {
  padding: 0 2rem;
}

.input-group-text {
  background: #000000 !important;
  color: #ffffff !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_user:focus,
.input_pass,
.input_pass:focus {
  box-shadow: none !important;
  outline: 0px !important;
  border-color: #000000;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #000000 !important;
}

